body{
    background-color: black;
    margin: 0%;
    height: 0%;
}

header{
    height: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
}

table{
    text-align: center;
    padding: 4px;
    background-color: white;
    color: black;
    border: 5px solid #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    text-decoration: none;
}

button{
    background-color: white;
    box-shadow: #333;
    border-radius: 7px;
    border: 1px solid rgb(192, 190, 190);
}